.nav {
    width: 250px;
    margin-top: 50px;
    background-color: yellow;
}
.nav_div{

}

.item {
    height: 50px;
    border: black solid 1px;
    color: black;
    text-align: center;
}
.item a.active {
    color: red;
}